${head}

<h1>BlogAnan</h1>
<h3>It's not really anonymous we just want you to think it is.</h3>
<p>
    BlogAnon is an "anonymous" blog posting app. We will never track you or keep your private data.
    <br>
    Just enter your blog post and send it away to our super safe data servers. You don't even have to give it a title.
    <br>
    Enjoy the freedom to write all the creepy posts you've always wanted to... Anonymously!
</p>
<h4>
    <a href="/blogs">Check out the posts</a>
</h4>
<h4>
    <a href="/blogs/new">Write a post</a>
</h4>

${foot}